*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: white;
    background-color: lightblue;
}

.nav-list ul {
    display: flex;
    justify-content: end;
    list-style: none;
}

.nav-list ul li{
    padding-left: 40px;
}

.nav-list ul li a{
    color: white;
    text-decoration: none;
}

.nav-list ul li a:hover{
    color: #03e3fc;
}

main div{
    height: 800px;
    background: url(img/background-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div p{
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px lightblue; 
    color: white;
}

main section:first-child{
    margin: 0;
}

main section{
    margin-top: 120px;
}

main section:first-child h2{
    padding-left: 0;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 1px lightblue; 
    text-align: center;
}

section h2{
    font-size: 30px;
    padding-left: 100px;
}

section p{
    padding-left: 100px;
    margin-bottom: 50px;
}

.secondary img{
    margin-left: 400px;
    width: 200px;
    height: auto;
}

.tertiary img{
    margin-left: 400px;
    width: 200px;
    height: auto;
}

.quaternary img{
    margin-left: 400px;
    width: 200px;
    height: auto;
}

.scroll-to-top {
    position: fixed; /* 画面に固定する */
    bottom: 20px; /* 下から20pxの位置 */
    right: 20px; /* 右から20pxの位置 */
    display: none; /* 初期状態では非表示にする */
    
    /* ボタンのデザイン */
    width: 70px;
    height: 40px;
    line-height: 40px; /* テキストを垂直方向に中央揃え */
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    z-index: 1000; /* 他の要素より手前に表示する */
    transition: background-color 0.3s; /* ホバー時のアニメーション */
}

footer{
    height: 50px;
    background-color: lightblue;
}

.footer-text{
    height: 50px;
    font-size: 10px;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
